ast-parser/.gradle
ast-parser/build/
ast-parser/.idea

# Ignore Gradle GUI config
ast-parser/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!ast-parser/gradle-wrapper.jar

# Cache of project
ast-parser/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# ast-parser/gradle/wrapper/gradle-wrapper.properties
